/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

.dark-element, .tv-btn, .tv-input-text, .tv-filters, .tv-tails-item {
  border: 1px solid #191919;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #212121; }

.main-font, body {
  color: #aaa;
  font-size: 11px;
  font-weight: 200; }

.tv-inset-shadow, .tv-input-text, .tv-filters, .tv-tails-item::before {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4); }

.tv-form-elem-pushed-shadow, .tv-checkbox input[type=checkbox]:checked + label {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 0 -1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 0 -1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 0 -1px rgba(255, 255, 255, 0.1); }

.tv-form-element-shadow, .tv-btn:active, .tv-checkbox .tv-checkbox-check, .tv-select {
  -webkit-box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.1); }

.tv-box-separ-shadow, .tv-filters__block {
  -webkit-box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0.1); }

.tv-btn-shadow, .tv-btn {
  -webkit-box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2); }

.tv-btn-gradient, .tv-btn, .tv-checkbox .tv-checkbox-check {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$btn-gradient-1+0,242424+100,333333+100 */
  background: #2f2f2f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f2f2f), color-stop(100%, #242424), color-stop(100%, #2f2f2f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn-gradient-1', endColorstr='$btn-gradient-1',GradientType=0 );
  /* IE6-9 */ }

.tv-select-gradient, .tv-select {
  background: #2f2f2f;
  /* Old browsers */
  background: url("../img/select-arrow.png"), -moz-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* FF3.6+ */
  background: url("../img/select-arrow.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f2f2f), color-stop(100%, #242424), color-stop(100%, #2f2f2f));
  /* Chrome,Safari4+ */
  background: url("../img/select-arrow.png"), -webkit-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* Chrome10+,Safari5.1+ */
  background: url("../img/select-arrow.png"), -o-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* Opera 11.10+ */
  background: url("../img/select-arrow.png"), -ms-linear-gradient(top, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* IE10+ */
  background: url("../img/select-arrow.png"), linear-gradient(to bottom, #2f2f2f 0%, #242424 100%, #2f2f2f 100%);
  /* W3C */ }

.no-pad, .tv-main__result, .tv-tails__item, .tv-videos__pagination {
  padding: 0; }

.no-margin, div.row {
  margin: 0; }

.fill-parent, .tv-tails-item::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block; }

@media (min-width: 992px) {
  .container {
    width: 960px; } }
@media (min-width: 1200px) {
  .container {
    width: 960px; } }
.tv-link {
  color: #4585A8; }
  .tv-link:hover, .tv-link:focus {
    text-decoration: underline;
    color: #fff; }
  .tv-link_current {
    color: #fff; }

.tv-btn {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color: #262626;
  width: 95px;
  height: 25px;
  font-size: 1em;
  position: relative;
  /*&:hover {
    top: -1px;
    box-shadow: inset $light-line-shadow, 0 2px 1px rgba(0,0,0,.2);
  }*/ }
  .tv-btn:focus {
    outline: none; }
  .tv-btn:active {
    background: #242424;
    /* box-shadow: none; */
    top: 1px; }

.tv-input-text {
  padding: 5px; }

.tv-checkbox {
  /*width: 15px;
  height: 15px;*/
  position: relative;
  display: inline-block;
  margin: 0; }
  .tv-checkbox .tv-checkbox-check {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    border: 1px solid #1f1f1f;
    width: 13px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 0;
    box-sizing: content-box; }
    .tv-checkbox .tv-checkbox-check:after {
      content: '';
      width: 8px;
      height: 4px;
      position: absolute;
      top: 4px;
      left: 3px;
      border: 2px solid #4585A8;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
  .tv-checkbox:hover {
    cursor: pointer; }
  .tv-checkbox:hover .tv-checkbox-check::after {
    opacity: 0.3; }
  .tv-checkbox input[type=checkbox] {
    visibility: hidden; }
    .tv-checkbox input[type=checkbox]:checked + label {
      background: #1d1d1d; }
    .tv-checkbox input[type=checkbox]:checked + label:after {
      opacity: 1; }
  .tv-checkbox .tv-checkbox-label {
    font-weight: 100;
    margin: 0 0 0 7px; }

.tv-select-label {
  margin-right: 5px;
  font-weight: 200;
  font-size: .8em; }

.tv-select {
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #1f1f1f;
  padding: 0px 8px;
  line-height: 20px;
  font-size: .9em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;
  /* Firefox 1-3.6 */
  border-radius: 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  /*-webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #F07575; /!* fallback color if gradients are not supported *!/
  background-image: url(../img/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /!* For Chrome and Safari *!/
  background-image: url(../img/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /!* For old Fx (3.6 to 15) *!/
  background-image: url(../img/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /!* For pre-releases of IE 10*!/
  background-image: url(../img/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /!* For old Opera (11.1 to 12.0) *!/
  background-image: url(../img/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /!* Standard syntax; must be last *!/
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;*/ }
  .tv-select::-ms-expand {
    /* for IE 11 */
    display: none; }
  .tv-select:focus, .tv-select:active {
    outline: none; }

.tv-page__header {
  background-color: #1d1d1d; }

.tv-top-navbar {
  background-color: transparent;
  border: none; }
  .tv-top-navbar .tv-link:focus {
    background-color: transparent !important;
    outline-offset: 4px; }

.tv-top-navbar-brand__slogan {
  font-style: italic;
  font-size: 10px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 5px; }

.tv-top-navbar__nav {
  margin-top: 37px; }

.tv-top-navbar-nav {
  padding-left: 40px; }

.tv-top-nav__item {
  padding: 0 20px; }
  .tv-top-nav__item .tv-top-nav-item__link {
    padding: 0; }
    .tv-top-nav__item .tv-top-nav-item__link:hover {
      background-color: transparent;
      text-decoration: underline; }

.tv-header-navbar__sign {
  float: right;
  font-size: 1.2em; }

.tv-page__search {
  padding-bottom: 10px;
  padding-top: 10px; }

.tv-search {
  height: 25px;
  color: #fff;
  font-size: 1.1em;
  line-height: 25px; }

.tv-search-result {
  font-size: 1.2em; }

.tv-search-result__number {
  font-weight: bold;
  width: 30px;
  display: inline-block; }

.tv-search-result__title {
  font-weight: 100; }

.tv-search-text__label {
  font-weight: 400;
  margin-right: 5px; }

.tv-search-text__input {
  width: 300px;
  padding: 0 5px; }

.tv-search-sort-by__select {
  width: 150px;
  padding: 0 8px; }

.tv-search-per-page__select {
  width: 50px;
  padding: 0 8px; }

.tv-main__filters {
  padding-right: 5px; }

.tv-filters {
  background-color: #212121;
  padding: 20px 10px; }
  .tv-filters div:last-of-type {
    box-shadow: none;
    border-bottom: none; }

.tv-filters__title {
  font-size: 2em;
  font-weight: 100; }

.tv-filters__block {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #191919; }

/*
.tv-filters__block_last{
  border-bottom: none;
}
*/
.tv-filters-block__checkboxes {
  padding-top: 10px; }

/*.tv-filters-block-checkboxes__item {
  //line-height: 0.3;

  &:hover{
    cursor: pointer;
  }
}*/
/*.tv-checkbox {
  font-size: 15px;
  background-color: $main-bg-color;
}*/
/*.tv-checkbox-label {
  padding-left: 3px;
  font-weight: 100;
}*/
.tv-buttons__item {
  padding-top: 7px; }

.tv-tails__item {
  padding-bottom: 40px; }

.tv-tails-item {
  width: 122px;
  height: 120px;
  background-color: #212121;
  float: right;
  position: relative; }
  .tv-tails-item::before {
    position: absolute;
    content: ' '; }
  .tv-tails-item:hover .tv-thumb-title__text {
    text-decoration: underline; }

.tv-tails-item__img {
  background: no-repeat center;
  background-size: contain;
  width: 120px;
  height: 90px;
  display: block;
  content: ' '; }

.tv-thumb-title {
  display: inline-block; }

.tv-thumb-title__text {
  display: table-cell;
  vertical-align: middle;
  height: 30px; }

.tv-videos__pagination {
  padding-left: 10px;
  padding-top: 10px; }

.tv-pagination__item {
  display: inline-block;
  padding: 0 10px; }
  .tv-pagination__item_dots {
    color: #fff; }

/*
* ADTV styles
*/
body {
  background-color: #262626; }

/*# sourceMappingURL=style.css.map */
