//
// Variables
//




// Background colors: main, second - dark element, third - header and footer
$main-bg-color: #262626;
$second-bg-color: #212121;
$third-bg-color: #1d1d1d;

// Border colors
$dark-border: #191919;
$dark-border2: #1f1f1f;

// Main color for font
$main-color: #aaa;
$second-color: #fff;

// Link color
$link-color: #4585A8;

// Two colors gradient for buttons and forms elements
$btn-gradient-1: #2f2f2f;
$btn-gradient-2: #242424;

// Shadows
$inset-shadow: 0 1px 1px rgba(0,0,0,0.4);
$light-line-shadow: 0 2px 0 -1px rgba(255, 255, 255, .1);
$bulge-shadow: 0 1px 1px rgba(0,0,0,.2);
$separator-shadow: 0 3px 1px -2px rgba(255,255,255,.1);
$separator-side-shadow: 3px 0 1px -2px rgba(255,255,255,.1);

// Path to arrow for select image
$arrow-for-select: '../img/select-arrow.png';



// Mixin for border radius with vendor prefix
@mixin border-radius ($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin box-shadow ($set...) {
  -webkit-box-shadow: $set;
  -moz-box-shadow: $set;
  box-shadow: $set;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotateX(#{$deg}deg));
  @include transform(rotate(#{$deg}deg));
}

// Dark element in main section
.tv-dark-element {
  border: 1px solid $dark-border;
  @include border-radius(3px);
  background-color: $second-bg-color;
}

// Set main font
.tv-main-font {
  font-family: Roboto, sans-serif;
  color: $main-color;
  font-size: 10px;
  font-weight: 100;
}

// Shadow for inset effect
.tv-inset-shadow {
  @include box-shadow(inset $inset-shadow);
}

// Shadow for pushed form element
.tv-form-elem-pushed-shadow {
  @inclue box-shadow(inset $inset-shadow, $light-line-shadow);
}

// Shadow for cut effect for form element (white bottom line)
.tv-form-element-shadow {
  @include box-shadow($light-line-shadow)

}

// Shadow for box separator line in filter section (white bottom line)
.tv-box-separ-shadow {
  @include box-shadow($separator-shadow);
}

.tv-box-separ-side-shadow {
  @include box-shadow($separator-side-shadow);
}


// Shadow for 3d effect for button (white top line and outline shadow)
.tv-btn-shadow {
  @include box-shadow(inset $light-line-shadow, $bulge-shadow);
}

// Gradient for btn and form elements
.tv-btn-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$btn-gradient-1+0,242424+100,333333+100 */
  background: $btn-gradient-1; /* Old browsers */
  background: -moz-linear-gradient(top,  $btn-gradient-1 0%, $btn-gradient-2 100%, $btn-gradient-1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$btn-gradient-1), color-stop(100%,$btn-gradient-2), color-stop(100%,$btn-gradient-1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn-gradient-1', endColorstr='$btn-gradient-1',GradientType=0 ); /* IE6-9 */
}

// Gradient for select element with arrow image and gradient
.tv-select-gradient {
  background: $btn-gradient-1; /* Old browsers */
  background: url($arrow-for-select), -moz-linear-gradient(top,  $btn-gradient-1 0%, $btn-gradient-2 100%, $btn-gradient-1 100%); /* FF3.6+ */
  background: url($arrow-for-select), -webkit-gradient(linear, left top, left bottom, color-stop(0%,$btn-gradient-1), color-stop(100%,$btn-gradient-2), color-stop(100%,$btn-gradient-1)); /* Chrome,Safari4+ */
  background: url($arrow-for-select), -webkit-linear-gradient(top,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* Chrome10+,Safari5.1+ */
  background: url($arrow-for-select), -o-linear-gradient(top,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* Opera 11.10+ */
  background: url($arrow-for-select), -ms-linear-gradient(top,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* IE10+ */
  background: url($arrow-for-select), linear-gradient(to bottom,  $btn-gradient-1 0%,$btn-gradient-2 100%,$btn-gradient-1 100%); /* W3C */
}

//Universal mixin

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

// fill parent element
.fill-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}