.tv-page__footer {
  background-color: $third-bg-color;
}

.tv-footer {
  @extend .container;

  padding-top: 50px;
  padding-bottom: 20px;
}

.tv-footer-nav {
  @extend .row;
}

.tv-footer__col {
  @extend .col-md-2, .col-md-offset-1, .col-sm-3, .col-xs-6;

  margin-bottom: 20px;
}

.tv-footer-col__header {
  color: #fff;
  font-weight: 400;
}

.tv-footer-col__list {
  margin-top: 15px;
}

.tv-col-list__item {
  margin-bottom: 10px;
}