// Headers styles

.tv-page__header {
  background-color: $third-bg-color;
}

.tv-header__nav {
  padding-top: 15px;
}

.tv-top-navbar {
  @extend .navbar;

  padding-top: 15px;

  background-color: transparent;
  border: none;

  .tv-link:focus {
    background-color: transparent !important;
    outline-offset: 4px;
  }
}

.tv-top-navbar-btn{
  @extend .navbar-toggle;
  @extend .tv-btn;

  padding: 0 18px;
  width: 50px;
  .tv-icon-bar {
    @extend .icon-bar;
    width: 12px;
    height: 1px;
    background-color: $main-color;
    + .icon-bar {
      margin-top: 2px;
    }
  }

}

.tv-top-havbar-container{
  @extend .container;
}

.tv-top-navbar__header {
  @extend .navbar-header;
}

.tv-top-navbar-brand__logo{
  @extend .navbar-brand;
  padding: 0 15px;
  margin-top: -8px;


}

.tv-top-navbar-brand__slogan{
  @extend .navbar-text, .hidden-sm;
  color: $link-color-header;
  font-style: italic;
  font-size: .9em;
  margin-left: 5px;

  line-height: 20px;
}

.tv-top-navbar__nav {
  @extend .navbar-collapse, .collapse;

  @include xs {
    @include box-shadow($separator-shadow, inset $separator-shadow);
    //border-top: solid 2px $dark-border;
    //border-bottom: solid 2px $dark-border;
  }
}

.tv-top-navbar-nav {
  @extend .navbar-nav, .nav;

  //padding-left: 40px;
}

.tv-top-nav__item {
  padding: 15px 20px;

  .tv-top-nav-item__link {
    @extend .tv-link, .tv-link_header;

    padding: 0;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

.tv-top-nav__separator {
  @extend .hidden-xs;
  @include box-shadow($separator-side-shadow);
  //border-right: 2px solid $dark-border;

  content: " ";
  display: inline-block;
  height: 30px;
  margin-top: -5px;
  width: 100%;
  min-width: 6px;


  /*@include sm {
    @include box-shadow($separator-side-shadow);
  border-right: 2px solid $dark-border;
  }
  @include xs {
    @include box-shadow($separator-shadow);
    border-bottom: 2px solid $dark-border;
    height: 6px;
  }*/
}

.tv-header-navbar__sign {
  @extend .nav, .navbar-nav, .navbar-right;

 // margin-right: 0;
  .tv-top-nav__item {
    @include sm {
      padding-right: 0;
    }
  }
  .tv-top-nav-item__link {
    font-size: 1.1em;
    font-weight: 500;
  }

}


.tv-header__banner{
  @extend .container;
}

.tv-header-banner{
  @extend .row;
}

.tv-header-banner__img {
  @extend .text-center, .col-md-12;

  img {
    max-width: 100%;
  }
}