//
//  Main section
//

.tv-page__main {
  //@extend .container;
}

//
//  Filter section
//

.tv-main__filters {
  //@extend .col-md-2;
  //@include no-pad;
  padding-right: 5px;
}

.tv-filters {
  //@extend .panel, .panel-default;
  @extend .dark-element;
  @extend .tv-inset-shadow;
  background-color: $second-bg-color;

  padding: 20px 10px;

  // Remove border for last  .tv-filters__block element
  div:last-of-type {
    box-shadow: none;
    border-bottom: none;
  }
}

.tv-filters__title {
  font-size: 2em;
  font-weight: 100;
  color: $second-color;
}

.tv-filters__block {
  @extend .tv-box-separ-shadow;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $dark-border;

}

/*
.tv-filters__block_last{
  border-bottom: none;
}
*/

.tv-filters-block__title {
  //@extend .text-uppercase;
}

.tv-filters-block__checkboxes {
  padding-top: 10px;
}
.tv-filters-block-checkboxes__item {
  margin-bottom: 3px;
}

/*.tv-filters-block-checkboxes__item {
  //line-height: 0.3;

  &:hover{
    cursor: pointer;
  }
}*/

/*.tv-checkbox {
  font-size: 15px;
  background-color: $main-bg-color;
}*/

/*.tv-checkbox-label {
  padding-left: 3px;
  font-weight: 100;
}*/

.tv-filters__buttons {
  //@extend .text-center;
}

.tv-buttons__item {
  padding-top: 7px;
}

//
// Result section
//


.tv-main__result {
  //@extend .col-md-10;
  @extend .no-pad;
}

//
// Tails
//

.tv-videos__tails {
//  @extend .row;
  //@include no-pad;
  //@include no-margin;
}

.tv-tails {
}

.tv-tails__item {
  //@extend .col-md-3;
  @extend .no-pad;
  padding-bottom: 40px;
}

.tv-tails-item {
  //@extend .text-center;
  @extend .dark-element;
  width: 122px;
  height: 120px;
  background-color: $second-bg-color;
  //padding-top: 15px;
  float: right;
  position: relative;

  &::before{
    position: absolute;
    content: ' ';
    @extend .fill-parent;
    @extend .tv-inset-shadow;
  }

  &:hover .tv-thumb-title__text{
    text-decoration: underline;
  }

}

.tv-tails-item__img {
  background: no-repeat center;
  background-size: contain;
  width: 120px;
  height: 90px;
  display: block;
  content: ' ';
}

.tv-tails-item__title{
}
.tv-thumb-title {
  display: inline-block;
}
.tv-thumb-title__text{
  display: table-cell;
  vertical-align: middle;
  height: 30px;
}

//
// Pagination
//

.tv-videos__pagination {
 // @extend .row;
  @extend .no-pad;
  padding-left: 10px;
  padding-top: 10px;
}

.tv-pagination {
 // @extend .col-md-offset-5;
}

.tv-pagination__item{
  display: inline-block;
  padding: 0 10px;

  &_dots {
    color: #fff;
  }
}