//
//  Main section
//

.tv-page__main {
  @extend .container;
}

.tv-main {
  @extend .row;
}

//
//  Filter section
//

.tv-main__filters {
  @extend .col-md-3;

}

.tv-filters {
  @extend .panel, .panel-default;
  @extend .dark-element, .tv-inset-shadow;
  background-color: $second-bg-color;

  padding: 20px 10px;

  /*// Remove border for last  .tv-filters__block element
  div:last-of-type {
    box-shadow: none;
    border-bottom: none;
  }*/
}
.tv-filters-row {
  @extend .row;
  @extend .no-margin;
}

.tv-filters__title {
  @extend .col-xs-12, .text-center-sm, .text-center-xs;
  font-size: 2em;
  font-weight: 100;
  color: $second-color;
  //padding: 0;
  margin-bottom: 10px;
}

.tv-filters__block {
  @extend .col-md-12, .col-sm-3, .col-xs-6;
 // @extend .tv-box-separ-shadow;
  padding: 12px 15px 6px;


}

.tv-filters__separator {
  @extend .col-xs-12;
  //@extend .tv-box-separ-shadow;
  //border-bottom: 1px solid $dark-border;
  content: " ";


  &:after {
    @extend .tv-box-separ-shadow;
    display: block;
    border-bottom: 1px solid $dark-border;
    height: 6px;
    content: " ";
  }

  &_md {
    @extend .tv-filters__separator, .visible-md-block, .visible-lg-block;
  }

  &_xs {
    @extend .tv-filters__separator, .visible-xs-block, .visible-sm-block;
    margin: 10px 0 15px;
    padding: 0;
  }
}

.tv-filters-block__title {
  @extend .text-uppercase;
}

.tv-filters-block__checkboxes {
  padding-top: 10px;
}
.tv-filters-block-checkboxes__item {
  margin-bottom: 3px;
}

/*.tv-filters-block-checkboxes__item {
  //line-height: 0.3;

  &:hover{
    cursor: pointer;
  }
}*/

/*.tv-checkbox {
  font-size: 15px;
  background-color: $main-bg-color;
}*/

/*.tv-checkbox-label {
  padding-left: 3px;
  font-weight: 100;
}*/

.tv-filters__buttons {
  @extend .text-center, .col-xs-12;
}

.tv-filters-buttons {
  @extend .row;
}

.tv-buttons__item {
  @extend .col-md-12, .col-sm-3, .col-xs-6;

  padding-top: 7px;
}

//
// Result section
//


.tv-main__result {
  @extend .col-md-9;
  @extend .no-pad;
}

//
// Tails
//

.tv-videos__tails {
//  @extend .row;
  //@include no-pad;
  //@include no-margin;
}

.tv-tails {
  @extend .row;
}

.tv-tails__item {
  @extend .col-xs-6, .col-sm-3, .text-right-md, .text-center-sm, .text-center-xs;

  padding-bottom: 40px;
}

.tv-tails-item {
  @extend .text-center;
  @extend .dark-element, .tv-link;
  display: inline-block;
  width: 122px;
  height: 120px;
  background-color: $second-bg-color;
  position: relative;

  &::before{
    position: absolute;
    content: ' ';
    @extend .fill-parent;
    @extend .tv-inset-shadow;
  }

  &:hover .tv-thumb-title__text{
    text-decoration: underline;
  }

}

.tv-tails-item__img {
  background: no-repeat center;
  background-size: contain;
  width: 120px;
  height: 90px;
  display: block;
  content: ' ';
}

.tv-tails-item__title{
}
.tv-thumb-title {
  display: inline-block;
}
.tv-thumb-title__text{
  display: table-cell;
  vertical-align: middle;
  height: 30px;
}

//
// Pagination
//

.tv-videos__pagination {
  @extend .row;
  @extend .no-pad;
  padding-left: 10px;
  padding-top: 10px;
}

.tv-pagination {
  @extend .col-md-7, .col-md-offset-5;
}

.tv-pagination__item{
  display: inline-block;
  padding: 0 10px;

  &_dots {
    color: #fff;
  }
}